@{
    ViewData["Title"] = "About";
}
@* adding a black background to the page white white text  *@
<style>
    body {
        background-color: black;
        color: white; /* Ensures text is readable on dark background */
    }
</style>
@* everything that is done in the view is what the user can see but the layout and how its set is in the site.css *@

<div class="Journey">
    <h1 align="left"><b>My Journey with <br/> software development</b></h1>
    <img src="~/images.jpg"  aligin="rigth"/>
    <br/>


</div>
<div class="Why" >
    <h1 align="center" style="font-size:150%"><u>Why I chose application development?</u></h1>
    <br/>
    <p style="font-size:100%" >
        I chose software development because I have a passion for creating new innovative sites and software.
        Learning to code and dealing with complex problems is what I enjoy doing. 
        I am always up for a challenge. 
        I have built my skills using languages like Html, Java, C# and CSS. I am currntely building my skills in other languages as well.
		Backend development and the logical use of code is what I enjoy the most. 
        Backend development is more logically in terms of the use of variables, data types, calling methods and classes.
        I have worked on many projects in the past, which was either Java or C#.
		During my second year in university I worked on SQL and started web development using ASP.NET MVC.
        We used Microsoft Azure to upload our websites on the cloud.
		

    </p>
</div>
<div class="Strengths">
    <h1 align="center" style="font-size:150%"><u>My strengths</u></h1>
    <br/>
    <p style="font-size:100%">
        I am very hard working especially when it comes to solving problems.
		I always meet deadlines and I am very punctual.
        My work is well structured with logical coding and comments where needed.
		I am a team player and I work well with others, who are willing to work with me.

    </p>
</div>
<div class="Weaknesses">
    <h1 align="center" style="font-size:150%"><u>My weaknesses</u></h1>
    <br/>
	<p style="font-size:100%">
        My weakness is that I am not a very quick thinker when it comes to immediate response to complex problems.
		I tend to take my time to think about the problem and how I can solve it.
		I tend to overthink a problem and I confuse myself with the solution, and I end up not understanding how some code works, like loops.
        More specifically the advanced For loops.
      
    </p>
		
    </div>
