@{
    ViewData["Title"] = "Privacy Policy";
}
@* adding a black background to the page white white text  *@
<style>
    body {
        background-color: black;
        color: white; /* Ensures text is readable on dark background */
    }
</style>
<div class="policy" >
    <h1>@ViewData["Title"]</h1>

    <p>Use this page to detail your site's privacy policy.</p>
</div>

